body {
  background: #4682b4;
  font-family: system-ui, sans-serif;
  font-size: 20px;
  color: white;
}

nav {
  background: sandybrown;
  display: flex;
}

nav a {
  color: black;
  padding: 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav a:hover {
  background: #4682b450;
}

nav a.active {
  background: lime;
}
